*{
    margin:0%;
    padding:0%;
}

html,body{
    width:100%;
    height:100%; /*always have to write*/
    display: flex;/*align elements side by side*/
    justify-content: center;
    align-items : center;
}

div{
    justify-content:center ;/*It justify the content to center*/
    align-items: center;/*To align items in div elements to centre*/
    width: 30%;
    height: 30%;
    text-align: center;
    display: flex;

}

#box1{
    background-color: aqua;
    border-style: dashed;
}

#box2{
    background-color: aquamarine;
    border-style: dotted;
}